@{
    ViewBag.Title = "Canvas Board";
    var timeZones = TimeZoneInfo.GetSystemTimeZones();
}
<link rel="stylesheet" href="~/css/site.css" />
<div class="toolbar">
    <label>Time Zone:</label>
    <select id="timezoneSelect">
        @foreach (var tz in timeZones)
        {
            <option value="@tz.Id">@tz.DisplayName</option>
        }
    </select>
</div>

<div class="layout">
    <div class="week-sidebar">
        @{
            var days = new[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
            foreach (var day in days)
            {
                <div class="day-label">@day</div>
            }
        }
    </div>
    <canvas id="calendarCanvas" width="800" height="600" class="board-canvas"></canvas>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function loadEvents(tz) {
                fetch(`/Calendar/GetEvents?tz=${encodeURIComponent(tz)}`)
                    .then(res => res.json())
                    .then(events => drawCanvas(document.getElementById('calendarCanvas'), events));
            }

            const select = document.getElementById("timezoneSelect");
            loadEvents(select.value); // initial load

            select.addEventListener("change", function () {
                loadEvents(this.value);
            });
        });
    </script>
}
